.heading-container {
  width: 100%;

  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.heading-container h1 {
  font-size: 3rem;
  color: white;
}

@media (max-width:600px)
{
  .heading-container h1 {
    font-size: 2.5rem;
  }
}
@media (max-width:350px)
{
  .nav-links a {
    font-size: 0.7rem;
}
}