.features-container{
    width:100%;
    height:auto;
    
}
.features-container h1{
    margin-bottom: 30px;
}
.features-container p{
    margin-bottom: 30px;
    color: grey;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.in-the-box p{
    margin-bottom: 10px;
}