.App {
  width: 100%;
  height: auto;
}

.product-display-container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.middle-content {
  padding: 0 15rem;
}

.footer-container {
  padding: 3rem 15rem;
  background: black;
}
.bottom-gear {
  padding: 0 15rem;
}

/* ================Media queries========== */

@media (max-width: 1150px) {
  .middle-content {
    padding: 0 8rem;
  }
  .bottom-gear {
    padding: 0 8rem;
  }
}

@media (max-width: 900px) {
  .middle-content {
    padding: 0 3rem;
  }
  .bottom-gear {
    padding: 0 3rem;
  }
}

@media (max-width: 600px) {
  .middle-content {
    padding: 0 1rem;
  }
  .maincontent-container {
    padding: 1rem;
  }
  .bottom-gear {
    padding: 0 1rem;
  }
}

@media (max-width: 350px) {
  .product-display-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
}
