.bottom-gear-container{
    width: 100%;
    height: 600px;
    padding: 3rem 0;
    display: flex;
    align-items: center;
}

.bottom-gear-content{
    padding-right:3rem ;
    width: 50%;

}
.bottom-gear-content h1{
    font-family: 700;
margin-bottom: 20px;
}
.bottom-gear-content p{
    color: grey;
margin-bottom: 20px;
}
.bottom-gear-container img{
    width: 50%;
    height: 100%;

    object-fit: cover;
}


@media (max-width:600px)
{
    .bottom-gear-container {
        height: auto;
       padding: 2rem;
       flex-direction: column-reverse;
    }
    .bottom-gear-content {
        padding-right: 0rem;
        width: 100%;
    }
    .bottom-gear-container img {
        width: 100%;
        margin-bottom: 1rem;
    }
}